<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pl.project13.kanbanery.tv">

    <uses-sdk android:minSdkVersion="7"/>

    <!-- for sending messages via network -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- checking if we're online -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- This app has permission to register and receive data message -->
    <!--<uses-permission scala:name="com.google.scala.c2dm.permission.RECEIVE"/>-->

    <application
            android:icon="@drawable/logo_big"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:debuggable="true">


        <activity android:label="@string/app_name" android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.BoardActivity"/>
    </application>

</manifest>
